@import '../../styles/variables';

.footer {
  padding-block: 84px 52px;
  background-color: $green;
  &__title {
    font-weight: 400;
    font-size: 64px;
    text-align: center;
    color: $gray1;
    margin-bottom: 20px;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 42px;
    text-align: center;
    color: $gray70;
    margin-bottom: 81px;
  }
  &__info {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: $gray1;
  }
}