@import '../../styles/variables.scss';

.loginModal {
  width: 500px;
  position: fixed;
  left: 35%;
  top: 25%;
  padding: 30px;
  border-radius: 12px;
  border: 1px $gray50 solid;
  background-color: $gray1;
  margin-bottom: 24px;
  &__close {
    position: absolute;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    border: 1px $gray90 solid;
    background-color: $gray0;
    font-size: 19px;
    top: 10px;
  }
}
